span {
    color: cyan;
    font-size: 1vw;
}

body {
    background-color: rgba(21, 104, 123, 0.15);
}

* {
    font-size: 0.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    font-size: small;
    text-shadow: 0 0 .3vw black;
}



.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 87%;
    right: 1%;


}
.vida {
    border-left: 0.1vw solid rgba(96, 96, 96, 0.016);
    border-top: 0.1vw solid transparent;
    background: rgba(0, 0, 0, 0.404);
    box-shadow: 0 0 0.3vw black;
    width: 15vw;
    height: 1vw;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
.dentro {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background: rgb(7, 185, 212);

}
h1 {
    color: white;
    font-size: 1vw; 
}




.icon {
    position: absolute;
    top: 6%;
    font-size: .75vw;
    color:white;
}

